<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>

        <httpPlatform processPath="C:\Python311\python.exe" 
        arguments="C:\inetpub\wwwroot\phfarming\manage.py runserver %HTTP_PLATFORM_PORT%" 
        stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\phfarming\logs">
            <environmentVariables>
                <clear />
            </environmentVariables>
        </httpPlatform>


        <handlers>
            <add name="phfarming handler" path="*" verb="*" modules="FastCgiModule" 
            scriptProcessor="C:\inetpub\wwwroot\phfarming\venv\Scripts\python.exe|C:\inetpub\wwwroot\phfarming\venv\Lib\site-packages\wfastcgi.py" 
            resourceType="Unspecified" />
        </handlers>

    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\phfarming" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="phfarming.settings" />
    </appSettings>
</configuration>